<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="css/flag-icon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>

    <div id="app">
        <div class="header">
            <img class="logo-img" src="img/boolflix.JPEG" alt="">
            <div class="header-space"></div>
            <div class="search-bar-container">
                <input type="text" v-model="querySearch" placeholder="Cerca un film o una serie" class="search-bar">
                <button @click="onSearchText" class="search-button"><i class="fa fa-search"
                        aria-hidden="true"></i></button>
            </div>
        </div>
        <main>
            <h2>Movies</h2>
            <div class="movies-row">
                <div v-for="movie in moviesList">
                    <div class="movie-card">
                        <img :src="imgUrlBasic + sizeUrl + movie.poster_path" alt="">
                        <div class="movie-info">
                            <span>
                                <h5>Titolo:</h5> {{movie.title}}
                            </span>
                            <span>
                                <h5>Titolo originale:</h5> {{movie.original_title}}
                            </span>
                            <span>
                                <h5>Lingua:</h5>
                                <span v-if="movie.original_language === 'en'" class="flag-icon flag-icon-gb"></span>
                                <span v-if="movie.original_language === 'ko'" class="flag-icon flag-icon-kr"></span>
                                <span v-if="movie.original_language === 'ja'" class="flag-icon flag-icon-jp"></span>
                                <span v-if="movie.original_language === 'xx'" class="flag-icon flag-icon-cn"></span>
                                <span v-if="movie.original_language === 'hi'" class="flag-icon flag-icon-in"></span>
                                <span :class="`flag-icon flag-icon-${movie.original_language}`"></span>
                            </span>
                            <h5>Overview: <h6 class="overview"> {{movie.overview}} </h6></h5>
                            <span><h5>Voto:</h5>
                                <i v-for="star in Math.round(movie.vote_average / 2)" class="fa fa-star"
                                    aria-hidden="true"></i>
                                <i v-for="star in 5 - Math.round(movie.vote_average / 2)" class="fa fa-star-o"
                                    aria-hidden="true"></i>
                            </span>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Series</h2>
            <div class="series-row">
                <div v-for="serie in seriesList">
                    <div class="serie-card">
                        <img :src="imgUrlBasic + sizeUrl + serie.poster_path" alt="">
                        <div class="serie-info">
                            <span>
                                <h5>Titolo:</h5> {{serie.name}} 
                            </span>
                            <span>
                                <h5>Titolo originale:</h5> {{serie.original_name}} 
                            </span>
                            <span>Lingua:
                                <span v-if="serie.original_language === 'en'" class="flag-icon flag-icon-gb"></span>
                                <span v-if="serie.original_language === 'ko'" class="flag-icon flag-icon-kr"></span>
                                <span v-if="serie.original_language === 'ja'" class="flag-icon flag-icon-jp"></span>
                                <span v-if="serie.original_language === 'xx'" class="flag-icon flag-icon-cn"></span>
                                <span v-if="serie.original_language === 'hi'" class="flag-icon flag-icon-in"></span>
                                <span :class="`flag-icon flag-icon-${serie.original_language}`"></span>
                            </span>
                            <h5>Overview: <h6 class="overview"> {{serie.overview}} </h6></h5>
                            <span><h5>Voto:</h5>
                                <i v-for="star in Math.round(serie.vote_average / 2)" class="fa fa-star"
                                    aria-hidden="true"></i>
                                <i v-for="star in 5 - Math.round(serie.vote_average / 2)" class="fa fa-star-o"
                                    aria-hidden="true"></i>
                            </span>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </main>



    </div>

    <script src="script.js"></script>
</body>

</html>