* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    color: white;
    font-family: 'Roboto', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,0,39,1) 0%, rgba(9,9,121,1) 91%, rgba(0,212,255,1) 100%);
    min-height: 100vh;
}


main {
    display: flex;
    flex-direction: column;
}

.red {
    color: red;
}

.header {
    display: flex;
    padding: 10px;
    align-items: center;
}
.header-space {
    flex-grow: 1;
}

.logo-img {
    height: 50px;
}

.select-bar {
    margin-right: 20px;
    padding: 5px 10px;
}

.search-bar-container {
    margin-right: 20px;
}

.search-button, .search-bar {
    padding: 5px 10px;
}

.movies-row, .series-row {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    padding: 20px;
}

.movie-card, .serie-card {
    width: calc(185px + 20px);
    height: 278px;
    margin: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    border-radius: 5px;
    flex-grow: 1;
    overflow: auto;
}

.movie-info, .serie-info {
    flex-direction: column;
    display: none;
}

.movie-card:hover, .serie-card:hover {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,0,39,1) 0%, rgba(9,9,121,1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0,212,255,1), 0 6px 20px 0 rgba(0,212,255,1);
    border: solid 1px white;

}

.movie-card:hover > img, .serie-card:hover > img {
    display: none;
}

.movie-card:hover .movie-info, .serie-card:hover .serie-info {
    display: flex;
}

.genreTag {
    position: absolute;
    top: 5px;
    left: 20px;
    color: red;
}

.movie-info > img, .serie-info > img {
    width: 35px;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    border: solid 2px black;
}

.row-title {
    flex-grow: 0;
}

hr {
    margin: 5px 0;
    border: solid 1px red
}

@media all and (max-width: 768px) {
    main {
        flex-direction: row;
    }

    .movies-row, .series-row {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar-container {
        margin-top: 10px;
    }
    
    .select-bar {
        margin-top: 10px;
        order: 1;
    }
}

@media all and (max-width: 480px) {
    main {
        flex-direction: column;
    }
}